/* DEFAULTS
----------------------------------------------------------*/

body   
{
    background: #b6b7bc;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    color: #696969;
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #666666;
    font-variant: small-caps;
    text-transform: none;
    font-weight: 200;
    margin-bottom: 0px;
}

h1
{
    font-size: 1.6em;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.5em;
    font-weight: 600;
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    background-color: #fff;
    border: 1px solid #496077;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #4b6c9e;
    width: 100%;
}

.header h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #f9f9f9;
    border: none;
    line-height: 2em;
    font-size: 2em;
}

.left-column 
{ 
    float: left; 
    clear: right; 
    margin-right: 2%; 
    margin-left: 2em;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}


/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color:#3a4f63;
    width:100%;
}

div.menu
{
    padding: 4px 0px 4px 8px;
    position: relative;
    width: 100%;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    top: 0px;
    width: 100%;
    position:absolute;
}

div.menu ul li a, div.menu ul li a:visited
{
    background-color: #465c71;
    border: 1px #4e667d solid;
    color: #dde4ec;
    float:left;
    display: inline-block;
    line-height: 1.35em;
    padding: 2.8px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
    background-color: #bfcbd6;
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
}

.loginDisplay a:link
{
    color: #465c71;
}

.loginDisplay a:visited
{
    color: #465c71;
}

.loginDisplay a:hover
{
    color: #465c71;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}

.web_dialog_overlay
{
   position: fixed;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   height: 100%;
   width: 100%;
   margin: 0;
   padding: 0;
   background: #000000;
   opacity: .15;
   filter: alpha(opacity=15);
   -moz-opacity: .15;
   z-index: 101;
   display: none;
}
.web_dialog
{
   display: none;
   position: fixed;
   width: 380px;
   height: 300px;
   top: 50%;
   left: 50%;
   margin-left: -190px;
   margin-top: -100px;
   background-color: #ffffff;
   border: 2px solid #336699;
   padding: 0px;
   z-index: 102;
   font-family: Verdana;
   font-size: 10pt;
}
.web_dialog_title
{
   border-bottom: solid 2px #336699;
   background-color: #336699;
   padding: 4px;
   color: White;
   font-weight:bold;
}
.web_dialog_title a
{
   color: White;
   text-decoration: none;
}
.align_right
{
   text-align: right;
}


/* RESPONSIVE DESIGN
----------------------------------------------------------*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 20em) /* 320px */
{
    .body 
    {
        margin: 0;
        padding: 0;
    }
    
    .page
    {
        width: 26em;
        margin: 0px auto 0px auto;
    }
    
    .left-column 
    {
        width: 80%;
    }
    
    .main
    {
        padding: 0;
        margin: 0;
        min-height: 480px;
    }
    
    .list-subjects
    {
        display: block;
        width: 20em;
        margin-top: 1em;
        margin-bottom: 0.5em;
    }
    
    .header 
    {
        background-color: White;
    }
     
    div.menu
    {
        height: 1.5em;
        -webkit-top: -1.4em;
        top: -1.2em
    }
    
    div.hideSkiplink
    {
        height: 2.5em;
    }
    
    .loginDisplay 
    {
        background-image: none;
        height: 5em;
    }
    
    .title
    {
        width: 12em;
        height: 1.5em;
        font-size: 1.5em;
        display: inline;
        color: #3A4F63;
        position: absolute;
        top: 2.5em;
        left: 5.5em;
    }
    
    .logo-uam 
    {
        float: left;
        padding-left: 1em;
        padding-top: 0.4em;
    }
    
    .box-sms 
    {
        margin-bottom: 1em;
        height: 10em;
        width: 20em;
    }
    
    .button-send
    {
        float:right;
        width: 77px;
    }
    
    div.phonePic
    {
        display: none;
    }

}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 48em) /* 768px */
{
    .body
    {
        margin: 0px 20px;
        padding: 0px 10px;
    }
    
    .page
    {
        width: 55.5em;
        margin: 20px auto 0px auto;
    }
    
    .list-subjects
    {
        width: 40em;
    }
    
    .main
    {
        padding: 0px 12px;
        margin: 12px 8px 8px 8px;
        min-height: 520px;
    }
    
    .loginDisplay 
    {
        background-image: url(back-header-tablet.jpg);
        height: 190px;
        color: #465c71;
    }
    
    .title,
    .logo-uam
    {
        display: none;
    }
    
    .box-sms 
    {
        height: 15em;
        width: 30em;
    }
    
    .button-send
    {
        margin-right: 9.4em;
        
    }
            
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 76.5em) /* 1224 px */
{
    .page
    {
        width: 78.4em;
    }
    
    .left-column
    {
        width: 54%;
    }
    
    .list-subjects
    {
        width: 30em;
    }
    
    .loginDisplay
    {
        background-image: url('back-header.jpg');
    }

    div.phonePic 
    {
        display: block;
        background: url(/SMSCollect/Styles/telefon.png) no-repeat; 
        width: 37%;
        float: left;
        clear: right;
        margin-right: 2%;
    }
    
}
